<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>-->
    <!-- Note: Starting in Wear OS 4 Developer Preview, ongoing notifications are affected by the notification runtime permission. -->
    <!-- https://developer.android.com/training/wearables/notifications/ongoing-activity -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".PomodoroWearApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <service
            android:name=".complication.MainComplicationService"
            android:exported="true"
            android:label="@string/complication_label"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>

<!--        <service-->
<!--            android:name="com.majorbriggs.pomodoro.tile.PomodoroTileService"-->
<!--            android:icon="@drawable/ic_launcher_foreground"-->
<!--            android:label="@string/app_name"-->
<!--            android:description="@string/app_name"-->
<!--            android:exported="true"-->
<!--            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">-->

<!--            <intent-filter>-->
<!--                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />-->
<!--            </intent-filter>-->

<!--            &lt;!&ndash; The tile preview shown when configuring tiles on your phone &ndash;&gt;-->
<!--            <meta-data-->
<!--                android:name="androidx.wear.tiles.PREVIEW"-->
<!--                android:resource="@mipmap/ic_launcher" />-->
<!--        </service>-->

        <service
            android:name=".presentation.PomodoroForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".presentation.PomodoroWearActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
